.version.contact /* version checker */
{
	color: #000012;
	background-color: #8C48B9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8499999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#pu970
{
	width: 0.01px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u970,#u970-bw
{
	z-index: 2;
	height: 160px;
}

#u972-4
{
	z-index: 4;
	width: 349px;
	min-height: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 13px;
}

#u971
{
	z-index: 3;
	min-height: 48px;
	padding-bottom: 14px;
}

#u973-4
{
	z-index: 8;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1px;
}

#u973-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u974-4
{
	z-index: 12;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 132px;
}

#u973-4.MuseLinkActive,#u974-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u975-4
{
	z-index: 16;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 262px;
}

#u974-4.MuseLinkActive,#u975-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u975-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u971-bw
{
	z-index: 3;
	min-height: 48px;
	margin-top: -4px;
	margin-bottom: -4px;
}

#u1028
{
	z-index: 40;
	width: 369px;
	min-height: 206px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 13px;
	position: relative;
}

#u1030-6
{
	z-index: 41;
	width: 194px;
	min-height: 56px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 93px;
	margin-top: 16px;
	position: relative;
}

#u1031-6
{
	z-index: 47;
	width: 194px;
	min-height: 56px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 93px;
	position: relative;
}

#u1032-6
{
	z-index: 53;
	width: 194px;
	min-height: 56px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 93px;
	position: relative;
}

#u1033-8
{
	z-index: 59;
	width: 194px;
	min-height: 56px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 93px;
	position: relative;
}

#u1034
{
	z-index: 67;
	width: 369px;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F6ABFB;
	margin-left: 6px;
	margin-top: 19px;
	position: relative;
}

#u1035-7
{
	z-index: 68;
	width: 369px;
	min-height: 132px;
	background-color: transparent;
	color: #000000;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 16px;
	position: relative;
}

#u1035-2
{
	font-size: 18px;
	text-align: left;
	font-family: sansita-one, sans-serif;
}

#u1035-3
{
	font-size: 18px;
	text-align: center;
	font-family: sansita-one, sans-serif;
}

#u1035-5
{
	font-size: 16px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
}

#pu976
{
	width: 0.01px;
	margin-top: 18px;
}

#u976
{
	z-index: 20;
	min-height: 65px;
	padding-bottom: 9px;
}

#u987-4
{
	z-index: 36;
	width: 378px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u987-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 378px;
	margin: 51px -10000px 0px 0px;
}

#u976-bw
{
	z-index: 20;
	min-height: 65px;
}

#u977
{
	z-index: 22;
	height: 44px;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 90px;
}

#u979
{
	z-index: 25;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 206px;
}

#u981
{
	z-index: 28;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 167px;
}

#u983
{
	z-index: 31;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 128px;
}

#u985
{
	z-index: 34;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 245px;
}

.html
{
	background: #FFFFFF url("../../images/pattern.jpg") repeat center center scroll;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

